html,
body {
  margin: 0;
  padding: 0;
  height: 450px;
  width: 100%;
  border: none;
  background-color: #ebedf0;
}

iframe {
  height: 450px;
  width: 100%;
  border: none;
  transform: scale(1.3); /* Adjust the scale value as needed */
  transform-origin: 0 0; /* Ensure scaling happens from the top left corner */
}

#card-data {
  border: none;
  margin: -8px;
  padding: 12px;
  width: 98%;
  height: 450px;
  background: #ebedf0;
}

#pan-div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #3c356d;
  background: #ffffff;
}

#pan-p {
  margin: 0px;
  color: #000000;
}

#pan-value {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  color: #000000;
}

#expiry-div {
  margin-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #3c356d;
  background: #ffffff;
}

#expiry-p {
  margin: 0px;
  color: #000000;
}

#expiry-value {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  color: #000000;
}

#cvv-div {
  margin-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #3c356d;
  background: #ffffff;
}

#cvv-p {
  margin: 0px;
  color: #000000;
}

#cvv-value {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  color: #000000;
}

.ph-copy {
  display: none;
}
