#card-data {
  border: none;
  margin: 0px;
  padding: 12px;
  width: 95%;
}

#pan-div {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#pan-p {
  margin: 0px;
  color: #000000;
}

#pan-value {
  display: block;
  margin-top: 6px;
  font-size: 16px;
  color: #000000;
}

#expiry-div {
  margin-top: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 50%;
  display: inline-block;
}

#expiry-p {
  margin: 0px;
  color: #000000;
}

#expiry-value {
  display: block;
  margin-top: 6px;
  font-size: 16px;
  color: #000000;
}

#cvv-div {
  margin-top: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
}

#cvv-p {
  font-size: 14px;
  margin: 0px;
  color: #000000;
}

#cvv-value {
  display: block;
  margin-top: 6px;
  font-size: 16px;
  color: #000000;
}

.ph-copy {
  display: none;
}
