{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.js", "*.js.flow"],
      "options": {
        "parser": "hermes"
      }
    }
  ]
}
