<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cypher Wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.11.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cypherd.ioswalletv1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cypherwallet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cypherd.ioswalletv1.walletconnect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cypherd.ioswalletv1.ethereum</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ethereum</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cypherd.ioswalletv1.solana</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>solana</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app.cypherhq.web3auth</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>846</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>metamask</string>
		<string>trust</string>
		<string>safe</string>
		<string>rainbow</string>
		<string>uniswap</string>
		<string>cbwallet</string>
		<string>whatsapp</string>
		<string>tg</string>
		<string>twitter</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>15.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>app.cypherhq.io</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Scan QR codes to send crypto / Connect to Dapps using WalletConnect </string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use FaceID Scanner to secure your crypto wallet</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to help detect suspicious activity and to show region-relevant content when required.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record Message for Customer Support Team in the app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Send photos during Customer Support Chat in the app</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialDesignIcons.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
		<string>CypherNord.ttf</string>
		<string>CydFont.ttf</string>
		<string>Gambetta-Bold.ttf</string>
		<string>Gambetta-Light.ttf</string>
		<string>Gambetta-Medium.ttf</string>
		<string>Gambetta-Regular.ttf</string>
		<string>Gambetta-Semibold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.cypherd.backup-warning</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Careful if Deleting</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Backup your wallet</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>exclamationmark.triangle.fill</string>
		</dict>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:app.cypherhq.io</string>
	</array>
</dict>
</plist>
